@import "tailwindcss";
@plugin "daisyui";

@custom-variant hover (&:hover);

@keyframes jump {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@layer utilities {
  .animate-jump {
    animation: jump 0.3s ease-in-out;
  }
}

@layer base {
  textarea:disabled,
  .textarea:disabled {
    cursor: auto !important;
    color: white !important;
    background-color: transparent !important;
  }
}
